html {
	background-color: #282828;
	font-family: 'Source Sans Pro', sans-serif;
	color: #e6e6e6;
}
body { 
	margin: 0;
}
#Header {
	background-color: #131313;
	height: 125px;
	display: flex;
	align-items: center;
	padding-left: 30px;
	margin-bottom: 50px;
}
#Header h2 {
	margin-left: 20px;
}
#Headshot {
	border-radius: 50%;
	width: 100px;
	height: 100px;
}
#Content {
	margin: 0 auto;
	max-width: 1300px;
	padding-left: 30px;
	padding-right: 30px;
}
h1 {
	background-color: #B50505;
	padding: 5px;
	border-radius: 20px;
	padding-left: 25px;
	text-align: center;
	margin-left: 40px;
	margin-right: 40px;
}
h1, h2 {
	font-family: "Catamaran", sans-serif;
}
.SectionHeader {
	display: table; /* keep the background color wrapped tight */
	border-bottom: 5px solid #B50505;
	padding-left: 40px;
	padding-bottom: 0px;
}
.BlurbBody {
	padding-left: 40px;
}
p {
	line-height: 25px;
	padding-left: 40px;
	padding-right: 40px;
}
li {
	line-height: 25px;
	margin-left: 40px;
}
#LandingHeader {
	
}
#FourSquares {
	display: flex;
	flex-wrap: wrap;
	margin-top: 35px;
	justify-content: center;
}
.Square {
	border-radius: 20px;
	width: 45%;
	margin: 5px;
	padding-top: 180px;
	min-width: 300px;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	background-color: gray;
	background-position: center;
	background-size: cover;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.Square:visited {
	color: #e6e6e6;
}
.Square:hover {
	color: #B50505;
}
@media screen and (max-width: 850px) {
	.Square {
		width: 100%;
		padding-top: 150px;
	}
}
.SquareHeader {
	margin-bottom: 0px;
}
.SquareBody {
	padding-left: 0px;
	padding-right: 0px;
}
#FullStackAppsSquare {
	background-image: linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8) 60%), url("images/SpencerAppSquareImage.png");
}
#RoboticsSquare {
	background-image: linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8) 60%), url("images/RobotFront.png");	
}
#DataAnalysisSquare {
	background-image: linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8) 60%), url("images/DataAnalysis.png");
}
#VideoGamesSquare {
	background-image: linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8) 60%), url("images/VideoGames.png");
}